<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anzeige</title>
    <style>
        .button-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .button-link:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
 
    <h1>Alle Überscihten</h1>
    <h2>Kundenübersicht</h2>
    {% for row in all_kunde %}
        <h3>kunde: {{ row.kunde}}</h3>
        <p>restaurant: {{ row.restaurant}}</p>
        <p>email: {{ row.email}}</p>
        <p>phone: {{ row.phone}}</p>
        <p>date: {{ row.date}}</p>
        <p>time: {{ row.time}}</p>
        <p>guests: {{ row.guests}}</p>
        <p>table_number: {{ row.table_number}}</p>
        <p>special_requests: {{ row.special_requests}}</p>
    {% endfor %}


    <h2>Restaurantkapazität</h2>
    {% if selected_login %}
    <div>
        <h3>Restaurant: {{ selected_login.name }}</h3>
        <p>Gesamtkapazitäten: {{ selected_login.Totaltable_number }}</p>
        <a href="{% url 'tisch_details1'%}" class="button-link"><p>Anzahl der Tische für 1-4 Personen: {{ selected_login.onetofortable }}</p></a>
        <a href="{% url 'tisch_details2'%}" class="button-link"><p>Anzahl der Tische für 4-6 Personen: {{ selected_login.fortoeisixtable }}</p></a>
        <a href="{% url 'tisch_details3'%}" class="button-link"><p>Anzahl der Tische für 6-8 Personen: {{ selected_login.sixtoeighttable }}</p></a>
        <a href="{% url 'tisch_details4'%}" class="button-link"><p>Anzahl der Tische für mehr als 8 Personen: {{ selected_login.morthaneight }}</p></a>
    </div>
    {% else %}
    <p>Das Restaurant "Losteria" wurde nicht gefunden.</p>
    {% endif %}

</body>
</html>
