<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anzeige</title>
</head>
<body>
 
    <h1>Alle Überscihten</h1>
    <h2>Kundenübersicht</h2>
    {% for row in all_kunde %}
        <h3>kunde: {{ row.kunde}}</h3>
        <p>restaurant: {{ row.restaurant}}</p>
        <p>email: {{ row.email}}</p>
        <p>phone: {{ row.phone}}</p>
        <p>date: {{ row.date}}</p>
        <p>time: {{ row.time}}</p>
        <p>guests: {{ row.guests}}</p>
        <p>table_number: {{ row.table_number}}</p>
        <p>special_requests: {{ row.special_requests}}</p>
    {% endfor %}


    <h2>Restourantkapazität</h2>
    {% for login in all_logins %}
    <div>
        <h3>restaurant: {{login.name}}</h3>
        <p>Gesammtkapatitäten: {{login.Totaltable_number}}</p>
        <p>Anzahl der Tische für 1-4 Personen: {{ login.onetofortable}}</p>
        <p>Anzahl der Tische für 4-6 Personen: {{ login.fortoeisixtable}}</p>
        <p>Anzahl der Tische für 6-8 Personen: {{ login.sixtoeighttable}}</p>
        <p>Anzahl der Tische für mehr als 8 Personen: {{ login.morthaneight}}</p>
    </div>
    {% endfor %}
</body>
</html>
